:root {
    --brand-color: #434455;
    --side-color: #2e2f42;
    --third-color: #404bbf;
    --four-color: #4d5ae5;
    --bg-color: #f4f4fd;
    --bg2-color: #FFFFFF;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--brand-color);
background-color: var(--bg2-color);
}
img {
    display: block;
}
.link-main{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--four-color);  
    margin-right: 76px;
}
.link{
    text-decoration: none;
}
.second-logo{
    color: var(--side-color);
}
.footer-second-logo{
    color: var(--bg-color);
}
.list{
    list-style: none;
}
.link-main-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--side-color);
    padding: 24px 0;
}
.link-main-li:hover{
    color: var(--third-color);
}
.link-main-li:focus{
    color: var(--third-color);
}
.adress{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.adress:hover{
    color: var(--third-color);
}
.adress:focus{
    color: var(--third-color);
}
.first-section{
    background-color: var(--side-color);
    padding: 188px 0 ;
}
.first-h{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--bg2-color);
    max-width: 496px;
}
.button{
    font-family: "Roboto", sans-serif;
    background-color: var(--four-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--bg2-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--four-color);
    border-radius: 4px;
    
}
.button:hover{
    background-color: var(--third-color);
}
.button:focus{
    background-color: var(--third-color);
}
.second-section{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.second-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.wwd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--side-color);
}
.four-sec{
    background-color: var(--bg-color)
}
.team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.team-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.footer{
    background-color: var(--side-color);
}
.white-bg{
    background-color: var(--bg2-color);
}
/* Portfiloi */
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--side-color);
}
.link-main-port{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.link-main-port:hover{
    color: var(--third-color);
}
.link-main-port:focus{
    color: var(--third-color);
}
.button-portfolio{
    color: var(--four-color);
    background-color: var(--bg-color);
    cursor: pointer;
}
.button-portfolio:hover{
    color: var(--bg2-color);
    background-color: var(--third-color);
}
.button-portfolio:focus{
    color: var(--bg2-color);
    background-color: var(--third-color);
}
.img-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.img-text-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-color);
}
.main-head{
    border-bottom: 1px solid #e7e9fc;
}
.head-div{
    display: flex;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu-head{
    display: flex;
    gap: 40px;
}
.adress-li{
    display: flex;
    gap: 40px;
}